absl-py==2.1.0
appdirs==1.4.4
asttokens==2.4.1
backcall==0.2.0
blinker==1.7.0
catkin-pkg==1.0.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comm==0.2.1
contourpy==1.1.1
cycler==0.12.1
debugpy==1.6.7
decorator==5.1.1
detr==0.0.0
distro==1.9.0
dm-control==1.0.14
dm-env==1.6
dm-tree==0.1.8
docker-pycreds==0.4.0
docutils==0.20.1
einops==0.7.0
executing==2.0.1
filelock==3.13.1
flask==3.0.2
fonttools==4.49.0
fsspec==2024.2.0
gitdb==4.0.11
gitpython==3.1.42
glfw==2.7.0
h5py==3.10.0
idna==3.6
importlib-metadata==7.0.1
importlib-resources==6.1.2
ipykernel==6.29.3
ipython==8.12.0
itsdangerous==2.1.2
jedi==0.19.1
jinja2==3.1.3
jupyter-client==8.6.0
jupyter-core==4.12.0
kiwisolver==1.4.5
labmaze==1.0.6
lxml==5.1.0
markupsafe==2.1.5
matplotlib-inline==0.1.6
matplotlib==3.7.5
mpmath==1.3.0
mujoco==2.3.7
nest-asyncio==1.6.0
networkx==3.1
numpy==1.24.4
opencv-python==4.9.0.80
packaging==23.2
parso==0.8.3
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.2.0
pip==23.3.1
prompt-toolkit==3.0.42
protobuf==4.25.3
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
pygments==2.17.2
pyopengl==3.1.7
pyparsing==3.1.1
pyquaternion==0.9.9
python-dateutil==2.8.2
pywin32==227
pyyaml==6.0.1
pyzmq==25.1.2
requests==2.31.0
roboagent==0.0.1
rospkg==1.5.0
scipy==1.10.1
sentry-sdk==1.40.6
setproctitle==1.3.3
setuptools==68.2.2
six==1.16.0
smmap==5.0.1
stack-data==0.6.2
sympy==1.12
torch==2.2.1
torchvision==0.17.1
tornado==6.2
tqdm==4.66.2
traitlets==5.14.1
typing-extensions==4.10.0
urllib3==2.2.1
wandb==0.16.3
wcwidth==0.2.13
werkzeug==3.0.1
wheel==0.41.2
zipp==3.17.0